<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/global.css">
    <title>Menú Espacial</title>
    <style>


        .menu-container {
            width: 50%;
            text-align: center;
            padding: 40px;
            border-radius: 15px;
            background-color: #2a2a40; /* Fondo del menú es un tono más oscuro */
            box-shadow: 0 0 15px #703950; /* Sombra rosa puntuaciones */
        }



    </style>
</head>
<body>
    <div class="menu-container">
        <h1 class="menu-title">Pausa</h1>
        <div class="menu-item">
            <a href="#" class="menu-link">Reaundar </a>
        </div>
        <div class="menu-item">
            <a href="#" class="menu-link">Reiniciar</a>
        </div>
        <div class="menu-item">
            <a href="#" class="menu-link">Guardar partida</a>
        </div>
        <div class="menu-item">
            <a href="#" class="menu-link">Salir</a>
        </div>
    </div>
</body>
</html>
